@import '../../constants/variable';
.event-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    }
  }
  
  .event-card-image {
    height: 240px;
    overflow: hidden;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  
    &:hover img {
      transform: scale(1.2);
    }
  }
  
  .event-card-content {
    padding: 30px;
  }
  
  .event-date {
    font-size: 24px;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
  }


  @media screen and (max-width: 768px) {
    .event-card-image {
      height: 200px;
    }
  
    .event-card-content {
      padding: 20px;
    }
  
    .event-date {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .event-card-image {
      height: 160px;
    }
  
    .event-card-content {
      padding: 15px;
    }
  
    .event-date {
      font-size: 18px;
      margin-bottom: 8px;
    }
  
    h2 {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }